* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color:black;
    color: white;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: black;
}

.head h3 {
    color: red;
    font-size: 30px;
    font-weight: bold;
}
nav{
    padding-right: 7px ;
}
.nav nav ul {
    text-decoration: none;
    list-style: none;
    display: flex;
}

.nav nav ul li {
    margin: 0 15px;
    font-size: 16px;
}

.nav nav ul li a {
    text-decoration: none;
    color: white;
}
a{
    color: antiquewhite;
    text-decoration: none;
}
.nav nav ul a li:hover {
    color: red;
}

.nav2 {
    padding-left: 200px;
    display: flex;
}

.nav2 li {
    margin-left:10px;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 50px;
}
.left{
   
}
.left h1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.left p {
    font-size: 18px;
    margin-top: 20px;
    max-width: 500px;
    line-height: 1.5;
}

.right img {
    width: 900px;
    height: auto;
    border-radius: 10px;
    margin-top: 40px;
   
}
.btn {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 20px;
    margin-top: 100px;
}

.btn button {
    width: 90px;
    height: 30px;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}
#more{
    background-color: rgb(53, 52, 52);
    color: white;
}
.Carosle{
      display: flex;
      gap: 10px;
      margin-top: 10px;
}
.movie{
    width: 190px;
    height: 180px;
    background-color: rgb(39, 39, 39);
    border-radius: 5px;
}